.checkout-grid{
  display:grid;
  grid-template-columns:1fr 350px;
  column-gap:20px;
  row-gap:20px;
  margin-top:20px;
}

.cart-items-container{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.cart-item-container{
  border:1px solid gray;
}

.delivery-date{
  color:green;
  padding-top:20px;
  padding-left:20px;
}

.cart-item-details-grid{ 
  padding-left:20px;
  padding-top:15px;
  display:grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

.product-image {
    max-width: 100%;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.product-name{
  font-weight:700;
  margin-bottom:10px;
}

.product-price{
  color:red;
  margin-bottom:10px;
}

.update{
  color:rgb(1, 124, 182);
}

.delete{
  color:rgb(1, 124, 182);
  cursor:pointer;
}

.delivery-options-title{
  font-weight:700;
  margin-bottom:10px;
}

.delivery-option-input{
  margin-left:0;
}

.delivery-options-container{
  display:flex;
  flex-direction:column;
}

.delivery-option{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

.payment-summary{
  border:1px solid gray;
  padding:20px;
   align-self:start;
}

.order-summary-title{
  font-weight:700;
  margin-bottom:20px;
}

.order-summary-items-grid{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.order-summary-shipping-grid{
  display:flex;
  justify-content:space-between;
   margin-bottom:5px;
}

.small-line-container{
  display: flex;
}

.small-line{
  width: 100px;
  height: 1px;
  background-color: black;
  margin-left: auto;
}

.order-summary-tax-grid{
  display:flex;
  justify-content:space-between;
  margin-top:5px;
  margin-bottom:10px;
}

.order-summary-estimated-grid{
  display:flex;
  justify-content:space-between;
  margin-bottom:5px;
}

.big-line-container{
  display: flex;
}

.big-line{
  width: 100%;
  height: 1px;
  background-color: black;
}

.order-summary-total-grid{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
  margin-bottom:10px;
}

.place-order-button{
  background-color:yellow;
  border:none;
  width:100%;
  border-radius:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}